.is-noscroll {
    pointer-events: none;
    height: 100%;
    overflow: hidden;

    .header,
    .main-nav,
    .top {
        pointer-events: auto;
    }
}

.header {
    min-height: $desktop-header-height;
    background-color: #fff;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    position: fixed;
    z-index: 1000;
    transition: box-shadow .3s, transform .4s;
    box-shadow: none;        
    display: none;

    &.sticky {                
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
        top: 0!important;
    }
    
    .admin-bar & {
        top: 32px;
    }
    
    @include until($small-tablet) {
        min-height: $mobile-header-height;

        .admin-bar & {
            top: 46px;
        }
    }


    img {
        display: block;
    }

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;

        @include until($small-tablet) {
            padding: 10px 0;
        }
    }

    .top-bar {
        background-color: #444;
        padding: 10px 0;
        color: #fff;

        .top-bar-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .social-icons {
                margin-left: auto;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0 -10px;

                li {
                    margin: 0 10px;
                }
            }
        }
    }
}
